[{DATABASE_NAME}].[dbo].[user_group]
SELECT [user_group_id]
      ,[user_role_id]
      ,[issuer_id]
      ,[can_create]
      ,[can_read]
      ,[can_update]
      ,[can_delete]
      ,[all_branch_access]
      ,[user_group_name]
	  ,[mask_screen_pan]
	  ,[mask_report_pan]
  FROM [{SOURCE_DATABASE_NAME}].[dbo].[user_group]
  ORDER BY [user_group_id] ASC