[{DATABASE_NAME}].[dbo].[issuer_product]
SELECT [product_id]
	  ,[product_code]
	  ,[product_name]
	  ,SUBSTRING([product_bin_code], 1, 6) AS [product_bin_code]
	  ,[issuer_id]
	  ,[name_on_card_top]
	  ,[name_on_card_left]
	  ,[Name_on_card_font_size]
	  ,[font_id]
	  ,[DeletedYN]
	  ,[src1_id]
	  ,[src2_id]
	  ,[src3_id]
      ,[PVKI]
	  ,[PVK]
	  ,[CVKA]
	  ,[CVKB]
	  ,[expiry_months]
      ,[fee_scheme_id]
	  ,[enable_instant_pin_YN]
	  ,[min_pin_length]
	  ,[max_pin_length]
	  ,[enable_instant_pin_reissue_YN]
	  ,[cms_exportable_YN]
	  ,[product_load_type_id]
	  ,[sub_product_code]
	  ,[pin_calc_method_id]
	  ,[auto_approve_batch_YN]
	  ,[account_validation_YN]
	  ,ISNULL(LEN((SELECT TOP 1 CONVERT(VARCHAR(MAX), DECRYPTBYKEYAUTOCERT(CERT_ID('Indigo_Certificate'), NULL, [card_number])) FROM [{SOURCE_DATABASE_NAME}].[dbo].[cards] WHERE [product_id] = [old_product].[product_id])), 16) as [pan_length]
	  ,[pin_mailer_printing_YN]
	  ,[pin_mailer_reprint_YN]
	  ,NULL as [sub_product_id]
	  ,NULL as [master_product_id]
	  ,[card_issue_method_id]
	  ,[decimalisation_table]
	  ,[pin_validation_data]
	  ,[pin_block_formatid]
	  , 1 as [production_dist_batch_status_flow] --Defaulted because 2.0.0 was only instance cards
	  , 5 as [distribution_dist_batch_status_flow]--Defaulted because 2.0.0 was only instance cards
	  , 0 as [charge_fee_to_issuing_branch_YN]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[issuer_product] AS [old_product]