[{DATABASE_NAME}].[dbo].[export_batch]
SELECT [export_batch_id]
      ,[issuer_id]
      ,[batch_reference]
      ,[date_created]
      ,[no_cards]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[export_batch]