[{DATABASE_NAME}].[dbo].[export_batch_status]
SELECT [export_batch_status_id]
      ,[export_batch_id]
      ,[export_batch_statuses_id]
      ,[user_id]
      ,[status_date]
      ,[comments]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[export_batch_status]