[{DATABASE_NAME}].[dbo].[product_fee_scheme]
SELECT [fee_scheme_id]
      ,[fee_scheme_name]
      ,[{SOURCE_DATABASE_NAME}].[dbo].[product_fee_scheme].[issuer_id]
      ,[deleted_yn]
	  ,[{DATABASE_NAME}].[dbo].[product_fee_accounting].[fee_accounting_id]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[product_fee_scheme] 
		INNER JOIN [{DATABASE_NAME}].[dbo].[product_fee_accounting]
		ON [{SOURCE_DATABASE_NAME}].[dbo].[product_fee_scheme].[issuer_id] = [{DATABASE_NAME}].[dbo].[product_fee_accounting].[issuer_id]