[{DATABASE_NAME}].[dbo].[pin_batch]
SELECT [pin_batch_id]
      ,[no_cards]
      ,[date_created]
      ,[pin_batch_reference]
      ,[pin_batch_type_id]
      ,[card_issue_method_id]
      ,[issuer_id]
      ,[branch_id]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[pin_batch]