[{DATABASE_NAME}].[dbo].[pin_mailer_reprint]
SELECT [pin_mailer_reprint_id]
      ,[card_id]
      ,[user_id]
      ,[pin_mailer_reprint_status_id]
      ,[status_date]
      ,[comments]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[pin_mailer_reprint]