<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <location path="ProductFeeAccounting.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="ProductFeeAccountingList.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="ProductAdminScreen.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="ProductFeeCharges.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="ProductFeeDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="ProductFeeList.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="ProductList.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="ProductReview.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
</configuration>
