[{DATABASE_NAME}].[dbo].[file_load]
SELECT [file_load_id]
      ,[file_load_start]
      ,[file_load_end]
      ,[user_id]
      ,[files_to_process]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[file_load]