[{DATABASE_NAME}].[dbo].[load_batch]
SELECT [load_batch_id]
      ,[file_id]
      ,[load_batch_status_id]
      ,[no_cards]
      ,[load_date]
      ,[load_batch_reference]
	  ,'1' as [load_batch_type_id]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[load_batch]