[{DATABASE_NAME}].[dbo].[product_fee_charge]
SELECT [fee_detail_id]
      ,[currency_id]
      ,[card_issue_reason_id]
      ,[fee_charge]
      ,[date_created]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[product_fee_charge]