<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="C:\veneka\ComsCore\integration\" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="aiAppender" />
    </root>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />  
	<add key="IntegrationDir" value="C:\veneka\indigo_main_dev\integration" />	
    <add key="Uri" value="https://localhost:8443/" />  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TransportSecurity" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="524288111" maxReceivedMessageSize="524288111" allowCookies="false">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Veneka.Indigo.COMS.WCF.SystemsAPI">
        <endpoint address="" binding="wsHttpBinding" bindingNamespace="http://schemas.veneka.com/Indigo/COMS" bindingConfiguration="TransportSecurity" contract="Veneka.Indigo.COMS.Core.IComsCore" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingNamespace="http://schemas.veneka.com/Indigo/COMS" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <endpoint address="https://veneka-11:8443/RemoteComponent.svc" binding="wsHttpBinding" bindingConfiguration="TransportSecurity" contract="Veneka.Indigo.COMS.Core.IComsCallback" name="ComsCallback">
    </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <!--<runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Veneka.Licensing.Common" publicKeyToken="b2f9648779cc4168" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.6606.21733" newVersion="1.0.6606.21733" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Veneka.Licensing.Encryption" publicKeyToken="b2f9648779cc4168" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.6606.21730" newVersion="1.0.6606.21730" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Veneka.Licensing.Common" publicKeyToken="b2f9648779cc4168" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6606.21733" newVersion="1.0.6606.21733" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Veneka.Licensing.Encryption" publicKeyToken="b2f9648779cc4168" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6606.21730" newVersion="1.0.6606.21730" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
