<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!-- Allow all users to visit -->
  <location path="ThreeDSecureList.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="ThreeDSecureSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="ThreeDSecureView.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
