<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!-- Allow all users to visit -->
  <location path="InstantPinAuthorisation.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_CUSTODIAN, PIN_OPERATOR"/>
      </authorization>
    </system.web>
  </location>
  <location path="ManageUser.aspx">
    <system.web>
      <authorization>
        <allow roles="USER_ADMIN,USER_AUDIT"/>
      </authorization>
    </system.web>
  </location>
  <location path="SearchUserForm.aspx">
    <system.web>
      <authorization>
        <allow roles="USER_ADMIN"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserList.aspx">
    <system.web>
      <authorization>
        <allow roles="USER_ADMIN"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserSearchSelection.aspx">
    <system.web>
      <authorization>
        <allow roles="AUDITOR"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserGroupMaintanance.aspx">
    <system.web>
      <authorization>
        <allow roles="USER_GROUP_ADMIN"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserGroupViewForm.aspx">
    <system.web>
      <authorization>
        <allow roles="USER_GROUP_ADMIN"/>
      </authorization>
    </system.web>
  </location>

  <location path="UserPendingList.aspx">
    <system.web>
      <authorization>
        <allow roles="USER_AUDIT"/>
      </authorization>
    </system.web>
  </location>
</configuration>
