<?xml version="1.0"?>
<configuration>
    <system.web>
      <!-- Place in a sub folder that you want to protect using Forms Authentication -->
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  <!-- Allow all users to visit -->
  <location path="IssuerManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="IssuerList.aspx">
    <system.web>
      <authorization>
        <allow roles="ISSUER_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="BranchList.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_ADMIN" />
      </authorization>
    </system.web>
  </location>
  <location path="ManageBranch.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_ADMIN" />
      </authorization>
    </system.web>
  </location>
</configuration>
