<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IndigoCardIssuanceCommon.Properties.Settings.DB" connectionString="Data Source=DEV\MSQ_DEVELOP;initial catalog=Indigo_TMB_2.1.4.0;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Veneka.Indigo.Common.Properties.Settings.DB" connectionString="Data Source=DEV\MSQ_DEVELOP;initial catalog=Indigo_TMB_2.1.4.0;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="indigo_databaseEntities" connectionString="metadata=res://*/Models.Indigo.csdl|res://*/Models.Indigo.ssdl|res://*/Models.Indigo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV\MSQ_DEVELOP;initial catalog=Indigo_TMB_2.1.4.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="indigo_database_ReportsEntities" connectionString="metadata=res://*/Models.Reports.csdl|res://*/Models.Reports.ssdl|res://*/Models.Reports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV\MSQ_DEVELOP;initial catalog=Indigo_TMB_2.1.4.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.IssuerManagement.csdl|res://*/Models.IssuerManagement.ssdl|res://*/Models.IssuerManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV\MSQ_DEVELOP;initial catalog=Indigo_TMB_2.1.4.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IssuerManagementEntity" connectionString="metadata=res://*/Models.IssuerManagement.csdl|res://*/Models.IssuerManagement.ssdl|res://*/Models.IssuerManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV\MSQ_DEVELOP;initial catalog=Indigo_TMB_2.1.4.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Veneka.Licensing.Common" publicKeyToken="b2f9648779cc4168" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6606.21733" newVersion="1.0.6606.21733" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Veneka.Licensing.Encryption" publicKeyToken="b2f9648779cc4168" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6606.21730" newVersion="1.0.6606.21730" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>