[{DATABASE_NAME}].[dbo].[issuer]
SELECT [issuer_id]
		,[issuer_status_id]
		,[country_id]
		,[issuer_name]
		,[issuer_code]
		,[instant_card_issue_YN]
		,[maker_checker_YN]
		,[license_file]
		,[license_key]
		,[language_id]
		,0 as [card_ref_preference]
		,0 as [classic_card_issue_YN]
		,0 as [enable_instant_pin_YN]
		,0 as [authorise_pin_issue_YN]
		,0 as [authorise_pin_reissue_YN]
		,0 as [back_office_pin_auth_YN]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[issuer]
ORDER BY [issuer_id] ASC