[{DATABASE_NAME}].[dbo].[issuer_product]
SELECT [product_id]
	  ,[product_code]
	  ,[product_name]
	  ,SUBSTRING([product_bin_code], 1, 6) AS [product_bin_code]
	  ,[issuer_id]
	  ,[name_on_card_top]
	  ,[name_on_card_left]
	  ,[Name_on_card_font_size]
	  ,[font_id]
	  ,[DeletedYN]
	  ,1 as [src1_id]
	  ,0 as [src2_id]
	  ,0 as [src3_id]
      ,NULL as [PVKI]
	  ,NULL as [PVK]
	  ,NULL as [CVKA]
	  ,NULL as [CVKB]
	  ,24 as [expiry_months]
      ,NULL as [fee_scheme_id]
	  ,0 as [enable_instant_pin_YN]
	  ,4 as [min_pin_length]
	  ,4 as [max_pin_length]
	  ,0 as [enable_instant_pin_reissue_YN]
	  ,0 as [cms_exportable_YN]
	  ,2 as [product_load_type_id]
	  ,SUBSTRING([product_bin_code], 7, LEN([product_bin_code])) as [sub_product_code]
	  ,0 as [pin_calc_method_id]
	  ,1 as [auto_approve_batch_YN]
	  ,1 as [account_validation_YN]
	  ,ISNULL(LEN((SELECT TOP 1 CONVERT(VARCHAR(MAX), DECRYPTBYKEYAUTOCERT(CERT_ID('Indigo_Certificate'), NULL, [card_number])) FROM [{SOURCE_DATABASE_NAME}].[dbo].[cards] WHERE [product_id] = [old_product].[product_id])), 16) as [pan_length]
	  ,0 as [pin_mailer_printing_YN]
	  ,0 as [pin_mailer_reprint_YN]
	  ,NULL as [sub_product_id]
	  ,NULL as [master_product_id]
	  ,1 as [card_issue_method_id]
	  ,NULL as [decimalisation_table]
	  ,NULL as [pin_validation_data]
	  ,NULL as [pin_block_formatid]
	  , 3 as [production_dist_batch_status_flow] --Defaulted because 2.0.0 was only instance cards
	  , 6 as [distribution_dist_batch_status_flow]--Defaulted because 2.0.0 was only instance cards
	  , 0 as [charge_fee_to_issuing_branch_YN]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[issuer_product] AS [old_product]