<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="RemoteComponent" type="Veneka.Indigo.RemoteComponentClient.Configuration.RemoteComponentSection, Veneka.Indigo.RemoteComponentClient" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="C:\veneka\indigo_main_dev\logs\app\" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <logName value="Indigo Remote Component Log" />
      <applicationName value="Indigo Remote Component" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="EventLogAppender" />
      <!--<appender-ref ref="RollingLogFileAppender" />-->      
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <RemoteComponent>
    <ApplicationConfig path="C:\veneka\remote_integration" allowUntrustedSSL="true" />
    <cardUpdateTimer interval="30000" />
    <RemoteTokens>
      <add token="14b225b9-e11f-4a56-a588-8f96b370dd23" />
    </RemoteTokens>
  </RemoteComponent>
  <appSettings>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="IndigoRemoteComponentBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="524288111" maxReceivedMessageSize="524288111" allowCookies="false">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://veneka-11:8443/RemoteComponent.svc" binding="wsHttpBinding" bindingConfiguration="IndigoRemoteComponentBinding" contract="Veneka.Indigo.Integration.Remote.IRemoteComponent" name="IndigoRemoteComponentEndPoint">
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Veneka.Licensing.Common" publicKeyToken="b2f9648779cc4168" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6606.21733" newVersion="1.0.6606.21733" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Veneka.Licensing.Encryption" publicKeyToken="b2f9648779cc4168" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6606.21730" newVersion="1.0.6606.21730" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
