[{DATABASE_NAME}].[dbo].[load_batch_status]
SELECT [load_batch_status_id]
		,[load_batch_id]
		,[load_batch_statuses_id]
		,[user_id]
		,[status_date]
		,[status_notes]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[load_batch_status]