[{DATABASE_NAME}].[dbo].[product_fields]
SELECT [product_id]
      ,'Name On Card' as [field_name]
      ,0 as [print_field_type_id]
      ,[name_on_card_left] as [X]
      ,[name_on_card_top] as [Y]
      ,0 as [width]
      ,0 as [height]
      ,'Lucida Console' as [font]
      ,[Name_on_card_font_size] as [font_size]
      ,'ind_sys_noc' as [mapped_name]
      ,1 as [editable]
      ,0 as [deleted]
      ,CONVERT(VARCHAR(100), NULL) as [label]
      ,25 as [max_length]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[issuer_product]