<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!-- Allow all users to visit -->
  <location path="CardCapture.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="CardCheckInOut.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_CUSTODIAN" />
      </authorization>
    </system.web>
  </location>
  <location path="CardList.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR, BRANCH_CUSTODIAN, BRANCH_OPERATOR, CARD_PRODUCTION, CMS_OPERATOR, AUDITOR, CREDIT_ANALYST, CREDIT_MANAGER" />
      </authorization>
    </system.web>
  </location>
  <location path="CardSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR, BRANCH_CUSTODIAN, BRANCH_OPERATOR, AUDITOR, CREDIT_ANALYST, CREDIT_MANAGER" />
      </authorization>
    </system.web>
  </location>
  <location path="CardStockOrdering.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="CardView.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR, BRANCH_CUSTODIAN, BRANCH_OPERATOR, AUDITOR, 
                      PIN_PRINTER_OPERATOR, CMS_OPERATOR, CARD_PRODUCTION, CARD_CENTRE_PIN_OFFICER, BRANCH_PIN_OFFICER, CREDIT_ANALYST, CREDIT_MANAGER" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomerCardSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, PIN_OPERATOR, CENTER_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomerSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR, AUDITOR" />
      </authorization>
    </system.web>
  </location>
 <location path="InstantCard.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="CentralCard.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="RenewalCardSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR" />
      </authorization>
    </system.web>
  </location>
</configuration>
