<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!-- Allow all users to visit -->
  <location path="RemoteCardUpdateList.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR, CMS_OPERATOR, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="RemoteCardUpdateView.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR, CMS_OPERATOR, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="RemoteCardUpdateSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR, CMS_OPERATOR, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="RemoteLoggingView.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>  
</configuration>
