<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RIBMiddleWare - Account EnquirySoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.242.8.23:1001/Services/AccountEnquiry.asmx"
                binding="basicHttpBinding" bindingConfiguration="RIBMiddleWare - Account EnquirySoap"
                contract="smsservice.RIBMiddleWareAccountEnquirySoap" name="RIBMiddleWare - Account EnquirySoap" />
        </client>
    </system.serviceModel>
</configuration>