<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!-- Allow all users to visit -->
  <location path="InterfaceList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="InterfaceManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
	<location path="RestInterfaceManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="LdapList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="LdapManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="IssuerLicenseList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="IssuerLicenseManager.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="MasterkeyList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="MasterkeyManager.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="TerminalList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="TerminalManager.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="TerminalSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="UseradminSettingMaintanance.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="UseradminSettingsViewForm.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>

  <location path="ExternalSystemFieldsManitanance.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>

  <location path="ExternalSystemFieldsViewForm.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="ExternalSystemsViewForm.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>

  <location path="ExternalSystemsMaintanance.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>

  <location path="ManageBranchNotification.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>

  <location path="BranchNotificationList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="ManageBatchNotifications.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>

  <location path="BatchNotificationList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
<location path="AuthConfigurationList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
 <location path="ManageAuthConfiguration.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="DocumentTypeList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="DocumentTypeEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRATOR" />
      </authorization>
    </system.web>
  </location>
</configuration>
