--Get records from target and check if there are any that arent in source
SELECT [remote_update_statuses_id]
      ,[card_id]
      ,[status_date]
      ,[comments]
      ,[remote_component]
      ,[user_id]
      ,[remote_updated_time]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[remote_update_status]
EXCEPT
SELECT [remote_update_statuses_id]
      ,[card_id]
      ,CAST([status_date] as datetime2) [status_date]
      ,[comments]
      ,[remote_component]
      ,[user_id]
      ,CAST([remote_updated_time] as datetime) [remote_updated_time]
FROM
(SELECT [remote_update_statuses_id]
      ,[card_id]
      ,[status_date]
      ,[comments]
      ,[remote_component]
      ,[user_id]
      ,[remote_updated_time]
FROM [{DATABASE_NAME}].[dbo].[remote_update_status]
UNION ALL
SELECT [remote_update_statuses_id]
      ,[card_id]
      ,[status_date]
      ,[comments]
      ,[remote_component]
      ,[user_id]
      ,[remote_updated_time]
FROM [{DATABASE_NAME}].[dbo].[remote_update_status_audit]) as newDB