--Get records from target and check if there are any that arent in source
SELECT [pin_reissue_id]
      ,[pin_reissue_statuses_id]
      ,[status_date]
      ,[user_id]
      ,[audit_workstation]
      ,[comments]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[pin_reissue_status]
EXCEPT
SELECT [pin_reissue_id]
      ,[pin_reissue_statuses_id]
      ,CAST([status_date] as datetime) [status_date]
      ,[user_id]
      ,[audit_workstation]     
      ,[comments]
FROM
(SELECT [pin_reissue_id]
      ,[pin_reissue_statuses_id]
      ,[status_date]
      ,[user_id]
      ,[audit_workstation]
      ,[comments]
FROM [{DATABASE_NAME}].[dbo].[pin_reissue_status]
UNION ALL
SELECT [pin_reissue_id]
      ,[pin_reissue_statuses_id]
      ,[status_date]
      ,[user_id]
      ,[audit_workstation]
      ,[comments]
FROM [{DATABASE_NAME}].[dbo].[pin_reissue_status_audit]) as newDB