--Get records from target and check if there are any that arent in source
SELECT [user_id]
	       ,[user_status_id]
	       ,[user_gender_id]
	       ,[username]
	       ,[first_name]
	       ,[last_name]
	       ,[password]
	       ,[user_email]
	       ,[online]
	       ,[employee_id]
	       ,[last_login_date]
	       ,[last_login_attempt]
	       ,[number_of_incorrect_logins]
	       ,[last_password_changed_date]
	       ,[workstation]
	       ,[language_id]
	       --,[username_index]
		   ,[connection_parameter_id]
	       ,[instant_authorisation_pin]
		   ,[last_authorisation_pin_changed_date]
		   ,[external_interface_id]
		   ,[time_zone_utcoffset]
	   	   ,[time_zone_id]
		   ,[useradmin_user_id]
		   --,[record_datetime]
		   ,[approved_user_id]
		   --,[approved_datetime]
FROM [{SOURCE_DATABASE_NAME}].[dbo].migration_users(	)
EXCEPT
SELECT [user_id]
	       ,[user_status_id]
	       ,[user_gender_id]
	       ,[username]
	       ,[first_name]
	       ,[last_name]
	       ,[password]
	       ,[user_email]
	       ,[online]
	       ,[employee_id]
	       ,[last_login_date]
	       ,[last_login_attempt]
	       ,[number_of_incorrect_logins]
	       ,[last_password_changed_date]
	       ,[workstation]
	       ,[language_id]
	       --,[username_index]
		   ,[connection_parameter_id]
	       ,[instant_authorisation_pin]
		   ,[last_authorisation_pin_changed_date]
		   ,[external_interface_id]
		   ,[time_zone_utcoffset]
	   	   ,[time_zone_id]
		   ,[useradmin_user_id]
		   --,[record_datetime]
		   ,[approved_user_id]
		   --,[approved_datetime]
FROM [{DATABASE_NAME}].[dbo].validation_users(	)