<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!-- Allow all users to visit -->
  <location path="TerminalActions.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_OPERATOR" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
