<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!-- Allow all users to visit -->
  <location path="PinBatchList.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_PRINTER_OPERATOR, CARD_CENTRE_PIN_OFFICER, BRANCH_PIN_OFFICER, CENTER_MANAGER, CMS_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="PinBatchSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_PRINTER_OPERATOR, CARD_CENTRE_PIN_OFFICER, BRANCH_PIN_OFFICER, CENTER_MANAGER, CMS_OPERATOR, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="PinBatchView.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_PRINTER_OPERATOR, CARD_CENTRE_PIN_OFFICER, BRANCH_PIN_OFFICER, CENTER_MANAGER, CMS_OPERATOR, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="PinMailerReprintList.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR, BRANCH_CUSTODIAN, PIN_PRINTER_OPERATOR, CARD_CENTRE_PIN_OFFICER, BRANCH_PIN_OFFICER" />
      </authorization>
    </system.web>
  </location>
  <location path="PINReset.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="PINResetPOS.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="PinResetList.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_OPERATOR, BRANCH_CUSTODIAN, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="PinResetSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_OPERATOR, BRANCH_CUSTODIAN, AUDITOR" />
      </authorization>
    </system.web>
  </location>
   <location path="E-PINRequest.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="PinResetView.aspx">
    <system.web>
      <authorization>
        <allow roles="PIN_OPERATOR, BRANCH_CUSTODIAN, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="ReprintBatchCreate.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_OPERATOR" />
      </authorization>
    </system.web>
  </location>
	<location path="instantEPinRequest.aspx">
		<system.web>
			<authorization>
				<allow roles="PIN_OPERATOR" />
			</authorization>
		</system.web>
	</location>
	<location path="PinRequestList.aspx">
		<system.web>
			<authorization>
				<allow roles=" BRANCH_CUSTODIAN, CENTER_OPERATOR, CENTER_MANAGER" />
			</authorization>
		</system.web>
	</location>
	<location path="PinListView.aspx">
		<system.web>
			<authorization>
				<allow roles=" BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR" />
			</authorization>
		</system.web>
	</location>
    <location path="PinMailerList.aspx">
		<system.web>
			<authorization>
				<allow roles="CENTER_MANAGER" />
			</authorization>
		</system.web>
	</location>
	<location path="PinMailerView.aspx">
		<system.web>
			<authorization>
				<allow roles="CENTER_MANAGER" />
			</authorization>
		</system.web>
	</location>
	
    <location path="PinSendSearch.aspx">
		<system.web>
			<authorization>
				<allow roles="PIN_OPERATOR" />
			</authorization>
		</system.web>
	</location>

	<location path="PinReIssueList.aspx">
		<system.web>
			<authorization>
				<allow roles="PIN_OPERATOR" />
			</authorization>
		</system.web>
	</location>
	

	<location path="ReIssuePinSend.aspx">
		<system.web>
			<authorization>
				<allow roles="PIN_OPERATOR" />
			</authorization>
		</system.web>
	</location>

	

</configuration>
