<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!-- Allow all users to visit -->
  <location path="FileLoaderLogSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, ADMINISTRATOR, CARD_PRODUCTION, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="FileLoaderLogView.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, ADMINISTRATOR, CARD_PRODUCTION, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="FileLoadList.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, ADMINISTRATOR, CARD_PRODUCTION, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="LoadBatchList.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CARD_PRODUCTION" />
      </authorization>
    </system.web>
  </location>
  <location path="LoadBatchSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CENTER_OPERATOR, CARD_PRODUCTION, AUDITOR" />
      </authorization>
    </system.web>
  </location>
  <location path="LoadBatchView.aspx">
    <system.web>
      <authorization>
        <allow roles="CENTER_MANAGER, CARD_PRODUCTION" />
      </authorization>
    </system.web>
  </location>
</configuration>
