<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <log4net xdt:Transform="Replace">

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="#{logs}#" name="logs" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

  </log4net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="TitleLogoLocation" value="#{TitleLogoLocation}#" />
    <add key="urlReportServer" value="#{urlReportServer}#" />
    <add key="ReportDomain" value="#{ReportDomain}#" />
    <add key="AutoCreatedistbatch" value="#{AutoCreatedistbatch}#" />
    <add key="AllowReuploads" value="#{AllowReuploads}#" />
    <add key="LicenseNotificationDur(indays)" value="#{LicenseNotificationDur(indays)}#" />
    <add key="ContextOptions" value="#{ContextOptions}#" />
    <add key="ReportUserName" value="#{ReportUserName}#" />
    <add key="ReportPassword" value="#{ReportPassword}#" />
    <add key="ReportServerFolderName" value="#{ReportServerFolderName}#" />
    <add key="InstrumentationKey" value="#{InstrumentationKey}#" />
  </appSettings>
  <system.serviceModel  >
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" allowCookies="true" maxReceivedMessageSize="20000000" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
          <security mode="Transport" />
        </binding>
        <binding name="Service1Soap1" />
      </basicHttpBinding>
    </bindings>
    <client xdt:Transform="Replace">
      <endpoint  address="#{appaddress}#" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="CardIssuanceService.Service1Soap" name="appaddress" />
    </client>
  </system.serviceModel>
</configuration>