[{DATABASE_NAME}].[dbo].[branch]
SELECT [branch_id]
		,[branch_status_id]
		,[issuer_id]
		,[branch_code]
		,[branch_name]
		,[location]
		,[contact_person]
		,[contact_email]
		,[card_centre]
		,[card_centre_branch_YN]
		,[emp_branch_code]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[branch]
ORDER BY [branch_id] ASC