[{DATABASE_NAME}].[dbo].[product_currency]
SELECT [product_id]
      ,[currency_id]
      ,[is_base]
      ,[usr_field_name_1]
      ,[usr_field_val_1]
      ,[usr_field_name_2]
      ,[usr_field_val_2]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[product_currency]