[{DATABASE_NAME}].[dbo].[branch_card_status]
SELECT   [src].[card_id]
		,[src].[branch_card_statuses_id]
		,ToDateTimeOffset([src].[status_date], DATENAME(tz, SYSDATETIMEOFFSET())) as [status_date]
		,[src].[user_id]
		,[src].[operator_user_id]
		,[src].[branch_card_code_id]
		,[src].[comments]
		,[src].[pin_auth_user_id]
		,[src].[branch_id]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[branch_card_status_current] as [current] INNER JOIN
		[{SOURCE_DATABASE_NAME}].[dbo].[branch_card_status] as [src] ON [src].[branch_card_status_id] = [current].[branch_card_status_id]