[{DATABASE_NAME}].[dbo].[dist_batch_status]
SELECT [dist_batch_id]
      ,[dist_batch_statuses_id]
      ,[user_id]
      ,ToDateTimeOffset([status_date], DATENAME(tz, SYSDATETIMEOFFSET())) as [status_date] 
      ,[status_notes]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[dist_batch_status_current]