[{DATABASE_NAME}].[dbo].[file_load]
SELECT [file_load_id]
      ,ToDateTimeOffset([file_load_start], DATENAME(tz, SYSDATETIMEOFFSET())) as [file_load_start]
      ,ISNULL(NULL, ToDateTimeOffset([file_load_end], DATENAME(tz, SYSDATETIMEOFFSET()))) as [file_load_end]
      ,[user_id]
      ,[files_to_process]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[file_load]