[{DATABASE_NAME}].[dbo].[load_batch_status]
SELECT   [load_batch_id]
		,[load_batch_statuses_id]
		,[user_id]
		,ToDateTimeOffset([status_date], DATENAME(tz, SYSDATETIMEOFFSET())) as [status_date]
		,[status_notes]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[load_batch_status_current]