[{DATABASE_NAME}].[dbo].[product_fields]
SELECT [product_field_id]
	  ,[product_id]
      ,[field_name]
      ,[print_field_type_id]
      ,[X]
      ,[Y]
      ,[width]
      ,[height]
      ,[font]
      ,[font_size]
      ,[mapped_name]
      ,[editable]
      ,[deleted]
      ,[label]
      ,[max_length]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[product_fields]