[{DATABASE_NAME}].[dbo].[product_fee_charge]
SELECT [fee_detail_id]
      ,[currency_id]
      ,[card_issue_reason_id]
      ,[fee_charge]
      ,ToDateTimeOffset([date_created], DATENAME(tz, SYSDATETIMEOFFSET())) as [date_created]
	  ,[vat]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[product_fee_charge]