[{DATABASE_NAME}].[dbo].[pin_reissue_status]
SELECT [pin_reissue_id]
      ,[pin_reissue_statuses_id]
      ,ToDateTimeOffset([status_date], DATENAME(tz, SYSDATETIMEOFFSET())) as [status_date]
      ,[user_id]
      ,[audit_workstation]
      ,[comments]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[pin_reissue_status_current]