[{DATABASE_NAME}].[dbo].[remote_component_logging]
SELECT ToDateTimeOffset([date_logged], DATENAME(tz, SYSDATETIMEOFFSET())) as [date_logged]
      ,[remote_address]
      ,[token]
      ,[request]
      ,[method_call_id]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[remote_component_logging]