[{DATABASE_NAME}].[dbo].[remote_update_status]
SELECT [remote_update_statuses_id] 
	  ,[card_id]
      ,ToDateTimeOffset([status_date], DATENAME(tz, SYSDATETIMEOFFSET())) as [status_date]
      ,[comments]
      ,[remote_component]
      ,[user_id]
      ,ToDateTimeOffset([remote_updated_time], DATENAME(tz, SYSDATETIMEOFFSET())) as [remote_updated_time]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[remote_update_current]