[{DATABASE_NAME}].[dbo].[branch_card_status_audit]
SELECT  [branch_card_status_id]
        ,[card_id]
		,[branch_card_statuses_id]
		,ToDateTimeOffset([status_date], DATENAME(tz, SYSDATETIMEOFFSET())) as [status_date]
		,[user_id]
		,[operator_user_id]
		,[branch_card_code_id]
		,[comments]
		,[pin_auth_user_id]
		,[branch_id]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[branch_card_status]
WHERE [branch_card_status_id] NOT IN (SELECT [branch_card_status_id] FROM [{SOURCE_DATABASE_NAME}].[dbo].[branch_card_status_current])