<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ComandTimeout in seconds, MigrationBatchSize in number of records -->
    <add key="CommandTimeout" value="30" />
    <add key="MigrationBatchSize" value="50000" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>