<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBackOfficeAPI">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8443/BackOfficeAPI.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBackOfficeAPI"
                contract="BackOfficeAPI.IBackOfficeAPI" name="WSHttpBinding_IBackOfficeAPI" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="IgnoreUntrustedSSL" value="true" />
    <add key="BaseConfigDir" value="C:\veneka\indigo_main_dev\" />
    <add key="AllowIndigoAuth" value="true" />
    <add key="FWSKey" value="6dc2cdc2-3fcd-4cad-bb67-37a7b1ff3370" />
    <add key="ComsType" value="1" />
    <add key="Uri" value="https://localhost:1980/" />

    <add key="IntegrationDir" value="C:\veneka\indigo_main_dev\integration" />

  </appSettings>
  <connectionStrings />
</configuration>
