<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>


  <location path="LoadFunds.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="LoadFundsList.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="LoadFundsApprove.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
</configuration>
