<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    
  </system.web>
  <appSettings>
    <add key="IgnoreUntrustedSSL" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseConfigDir" value="D:\veneka\indigo_main_dev\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AllowIndigoAuth" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ContextOptions" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FWSKey" value="6dc2cdc2-3fcd-4cad-bb67-37a7b1ff3370" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="ComsType" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Uri" value="https://localhost:1980/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationDir" value="D:\veneka\indigo_main_dev\integration" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>