[{DATABASE_NAME}].[dbo].[product_fee_detail]
SELECT [fee_scheme_id]
      ,[fee_detail_id]
	  ,[fee_detail_name]	
      ,ToDateTimeOffset([effective_from], DATENAME(tz, SYSDATETIMEOFFSET())) as [effective_from]
      ,[fee_waiver_YN]
      ,[fee_editable_YN]
	  ,[deleted_yn]
      ,ToDateTimeOffset([effective_to], DATENAME(tz, SYSDATETIMEOFFSET())) as [effective_to]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[product_fee_detail]