[{DATABASE_NAME}].[dbo].[sequences]
SELECT [sequence_name]
      ,[last_sequence_number]
      ,ToDateTimeOffset([last_updated], DATENAME(tz, SYSDATETIMEOFFSET())) as [last_updated]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[sequences]