[{DATABASE_NAME}].[dbo].[product_interface]
SELECT [interface_type_id]
      ,[product_id]
      ,[connection_parameter_id]
      ,[interface_area]
      ,[interface_guid]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[product_interface]