[{DATABASE_NAME}].[dbo].[branch_card_status_audit]
SELECT  [branch_card_status_id]
        ,[{SOURCE_DATABASE_NAME}].[dbo].[branch_card_status].[card_id]
		,[branch_card_statuses_id]
		,ToDateTimeOffset([status_date], DATENAME(tz, SYSDATETIMEOFFSET())) as [status_date]
		,[user_id]
		,[operator_user_id]
		,[branch_card_code_id]
		,[comments]
		,[pin_auth_user_id]
		,[{SOURCE_DATABASE_NAME}].[dbo].[cards].[branch_id]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[branch_card_status] INNER JOIN [{SOURCE_DATABASE_NAME}].[dbo].[cards]
		ON [{SOURCE_DATABASE_NAME}].[dbo].[branch_card_status].[card_id] = [{SOURCE_DATABASE_NAME}].[dbo].[cards].[card_id]
WHERE [branch_card_status_id] NOT IN (SELECT [branch_card_status_id] FROM [{SOURCE_DATABASE_NAME}].[dbo].[branch_card_status_current])