[{DATABASE_NAME}].[dbo].[pin_reissue_status_audit]
SELECT [pin_reissue_status_id]
      ,[pin_reissue_id]
      ,[pin_reissue_statuses_id]
      ,ToDateTimeOffset([status_date], DATENAME(tz, SYSDATETIMEOFFSET())) as [status_date]
      ,[user_id]
      ,[audit_workstation]
      ,[comments]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[pin_reissue_status]
WHERE [pin_reissue_status_id] NOT IN (SELECT [pin_reissue_status_id] FROM [{SOURCE_DATABASE_NAME}].[dbo].[pin_reissue_status_current])