[{DATABASE_NAME}].[dbo].[pin_batch_status]
SELECT [pin_batch_id]
      ,[pin_batch_statuses_id]
      ,[user_id]
      ,ToDateTimeOffset([status_date], DATENAME(tz, SYSDATETIMEOFFSET())) as [status_date]
      ,[status_notes]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[pin_batch_status_current]