[{DATABASE_NAME}].[dbo].[integration_responses_language]
SELECT [integration_id]
      ,[integration_object_id]
      ,[integration_field_id]
      ,[integration_response_id]
      ,[language_id]
      ,[response_text]
FROM [{SOURCE_DATABASE_NAME}].[dbo].[integration_responses_language]