<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- Place in a sub folder that you want to protect using Forms Authentication -->
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>


  <location path="RenewalLoad.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="RenewalList.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="RenewalApprove.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="VerifyList.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="VerifyBatch.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="VerifySingle.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="BatchCreate.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="BatchList.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="BatchApprove.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
  <location path="ApproveSingle.aspx">
    <system.web>
      <authorization>
        <allow roles="BRANCH_OPERATOR, BRANCH_CUSTODIAN, CENTER_MANAGER, CENTER_OPERATOR,BRANCH_PRODUCT_MANAGER,BRANCH_PRODUCT_OPERATOR" />
      </authorization>
    </system.web>
  </location>
</configuration>
